body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 924px;
}

.container div {
    border: 1px solid rgb(105, 105, 105);
    width: 55.75px;
    height: 55.75px;
}

.black {
    background-color: black;
}